In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib

In [10]:
pd.set_option("display.max_columns", None)
df = pd.read_csv("Telco-Customer-Churn.csv")

DATA INVESTIGATION

In [11]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [12]:
df.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7027,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7028,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7029,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7030,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7031,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [14]:
df.isnull().sum() # hitung NAN

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [29]:
df["MultipleLines"].unique() # untuk memeriksa nilai unik sekaligus konsistensi data

array(['No phone service', 'No', 'Yes'], dtype=object)

In [30]:
for i in df.columns:
    print(f'---------{i}-------')
    print(df[i].unique())
    print()

---------customerID-------
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']

---------gender-------
['Female' 'Male']

---------SeniorCitizen-------
[0 1]

---------Partner-------
['Yes' 'No']

---------Dependents-------
['No' 'Yes']

---------tenure-------
[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]

---------PhoneService-------
['No' 'Yes']

---------MultipleLines-------
['No phone service' 'No' 'Yes']

---------InternetService-------
['DSL' 'Fiber optic' 'No']

---------OnlineSecurity-------
['No' 'Yes' 'No internet service']

---------OnlineBackup-------
['Yes' 'No' 'No internet service']

---------DeviceProtection-------
['No' 'Yes' 'No internet service']

---------TechSupport-------
['No' 'Yes' 'No internet service']

---------StreamingTV-------
['No' 'Yes' 'No internet service']

---------StreamingMovies-------
['No' 'Yes' 'No internet service']

---------Contract-------
['Month-to-month' 'One year' 'Two year']

---------PaperlessBilling-------
['Yes' 'No']

---------PaymentMethod-------
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

---------MonthlyCharges-------
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]

---------TotalCharges-------
[  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]

---------Churn-------
['No' 'Yes']

'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies'

In [32]:
df['MultipleLines'] =df['MultipleLines'].replace("No phone service", "No")

df["MultipleLines"].unique()

array(['No', 'Yes'], dtype=object)

In [38]:
columns_inkonsisten = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport','StreamingTV', 'StreamingMovies']

for i in df[columns_inkonsisten]:
    df[i] = df[i].replace("No internet service", "No")
    print(df[i].unique())

['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']

In [39]:
for i in df.columns:
    print(f'---------{i}-------')
    print(df[i].unique())
    print()

---------customerID-------
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']

---------gender-------
['Female' 'Male']

---------SeniorCitizen-------
[0 1]

---------Partner-------
['Yes' 'No']

---------Dependents-------
['No' 'Yes']

---------tenure-------
[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]

---------PhoneService-------
['No' 'Yes']

---------MultipleLines-------
['No' 'Yes']

---------InternetService-------
['DSL' 'Fiber optic' 'No']

---------OnlineSecurity-------
['No' 'Yes']

---------OnlineBackup-------
['Yes' 'No']

---------DeviceProtection-------
['No' 'Yes']

---------TechSupport-------
['No' 'Yes']

---------StreamingTV-------
['No' 'Yes']

---------StreamingMovies-------
['No' 'Yes']

---------Contract-------
['Month-to-month' 'One year' 'Two year']

---------PaperlessBilling-------
['Yes' 'No']

---------PaymentMethod-------
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

---------MonthlyCharges-------
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]

---------TotalCharges-------
[  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]

---------Churn-------
['No' 'Yes']

In [40]:
df.duplicated().sum()

0

In [42]:
df.duplicated(subset=["customerID"]).sum()

0

PANDAS EKSPLOR DATA

In [43]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7032.000000  7032.000000     7032.000000   7032.000000
mean        0.162400    32.421786       64.798208   2283.300441
std         0.368844    24.545260       30.085974   2266.771362
min         0.000000     1.000000       18.250000     18.800000
25%         0.000000     9.000000       35.587500    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.862500   3794.737500
max         1.000000    72.000000      118.750000   8684.800000

[Monthly Charges]
- Karena median lebih besar dari mean berarti grafik skew negatif atau skew ke kiri. Artinya dalaam perspektif bisnis
adalah pemasukan perbulan lebih tinggi seqhingga menguntunngkan perusahaan

In [45]:
df.describe(include=["object"]).T

                 count unique               top  freq
customerID        7032   7032        7590-VHVEG     1
gender            7032      2              Male  3549
Partner           7032      2                No  3639
Dependents        7032      2                No  4933
PhoneService      7032      2               Yes  6352
MultipleLines     7032      2                No  4065
InternetService   7032      3       Fiber optic  3096
OnlineSecurity    7032      2                No  5017
OnlineBackup      7032      2                No  4607
DeviceProtection  7032      2                No  4614
TechSupport       7032      2                No  4992
StreamingTV       7032      2                No  4329
StreamingMovies   7032      2                No  4301
Contract          7032      3    Month-to-month  3875
PaperlessBilling  7032      2               Yes  4168
PaymentMethod     7032      4  Electronic check  2365
Churn             7032      2                No  5163

FILTER DATA

In [49]:
no_churn = len(df[df['Churn']=="No"])
yes_churn = len(df[df['Churn']=="Yes"])

In [51]:
yes_churn/(yes_churn+no_churn)

0.26578498293515357